@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Acciones sobre Storage Table</h2>

<ul>
    <li>
        @Html.ActionLink("Registrar nuevo animal", "Create", "Animales")
    </li>
    <li>
        @Html.ActionLink("Buscar animales por raza", "BuscarAnimalesRaza", "Animales")
    </li>
</ul>
